<h1>Available Pets</h1>

<div class="card-container">
  <div class="cards">

    <% @pets.each do |pet| %>
    <%= link_to pet_path(pet) do %>
        <div class="card-pet">

        <h2><%= pet.pet_name %> (<%= pet.breed %>)</h2>
        <%= image_tag pet.pet_photo, alt: "#{pet.pet_name} image" %>
        <p><strong>Age:</strong> <%= pet.age %> years</p>
        <p><strong>Size:</strong> <%= pet.size %></p>
        <p><strong>Description:</strong> <%= pet.description %></p>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
