<h1>Available Pets</h1>

<% @pets.each do |pet| %>
  <div>
    <h2><%= pet.pet_name %> (<%= pet.breed %>)</h2>
    <p><strong>Age:</strong> <%= pet.age %> years</p>
    <p><strong>Size:</strong> <%= pet.size %></p>
    <p><strong>Description:</strong> <%= pet.description %></p>
  </div>
<% end %>
