<h1>Add a New Pet</h1>

<%= form_with(model: @pet, local: true) do |form| %>
  <div>
    <%= form.label :pet_name, "Pet Name" %><br>
    <%= form.text_field :pet_name %>
  </div>

  <div>
    <%= form.label :breed, "Breed" %><br>
    <%= form.text_field :breed %>
  </div>

  <div>
    <%= form.label :age, "Age" %><br>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :size, "Size" %><br>
    <%= form.text_field :size %>
  </div>

  <div>
    <%= form.label :description, "Description" %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :available, "Available" %><br>
    <%= form.check_box :available %>
  </div>

  <!-- Here’s the important bit for the photo upload: -->
  <div>
    <%= form.label :pet_photo, "Upload a photo" %><br>
    <%= form.file_field :pet_photo %>
  </div>

  <%= form.submit "Create Pet" %>
<% end %>

<%= link_to "Back to Pets", pets_path, class: "btn btn-secondary mt-2" %>
