<div class="show-container">
<div class="show-card">
<h1><%= @pet.pet_name %></h1>

<p><strong>Breed:</strong> <%= @pet.breed %></p>
<p><strong>Age:</strong> <%= @pet.age %> years</p>
<p><strong>Size:</strong> <%= @pet.size %></p>

<%= image_tag @pet.pet_photo if @pet.pet_photo.present? %>
<p><strong>Description:</strong> <%= @pet.description %></p>
<p>
  <strong>Availability:</strong>
  <%= @pet.available ? "Available for booking" : "Not available for booking" %>
</p>
<div class="booking-section">

<% if @pet.available %>
  <%= link_to "Book #{ @pet.pet_name }", new_booking_path(pet_id: @pet.id), class: "book-btn" %>
<% end %>
</div>

</div>
</div>

<div class="actions">
  <%= link_to "Back to All Pets", pets_path, class: "btn btn-secondary mt-3" %>
  <%= link_to "All Bookings", bookings_path, class: "btn btn-primary mt-3" %>
</div>
