<div class="show-container">
<div class="show-card">
<h1><strong><%= @pet.pet_name %></strong></h1>

<p><strong>Breed:</strong> <%= @pet.breed %></p>
<p><strong>Age:</strong> <%= @pet.age %> years</p>
<p><strong>Size:</strong> <%= @pet.size %></p>

<% if @pet.pet_photos.attached? %>
  <%= image_tag url_for(@pet.pet_photos.first), alt: "#{@pet.pet_name} image", class: "pet-main-image" %>
<% else %>
  <%= image_tag "placeholder.jpg", alt: "No pet image yet", class: "pet-main-image" %>
<% end %>

<p><strong>Description:</strong> <%= @pet.description %></p>
<p>
  <strong>Availability:</strong>
  <% if @pet.available_from && (@pet.available_until.nil? || Date.today <= @pet.available_until) %>
    <%= "#{@pet.available_from.strftime("%-d %b %Y")} – #{@pet.available_until&.strftime("%-d %b %Y") || "Open" }" %>
  <% else %>
    <em>Currently not available</em>
  <% end %>
</p>
<div class="booking-section">

<% if @pet.available %>
  <%= link_to "Match with #{ @pet.pet_name }", new_booking_path(pet_id: @pet.id), class: "book-btn" %>
<% end %>
</div>

</div>
</div>

<div class="actions">
  <%= link_to "Back to All Pets", pets_path, class: "btn btn-secondary mt-3" %>
  <%= link_to "All Matches", bookings_path, class: "btn btn-primary mt-3" %>
  <% if current_user == @pet.user %>
    <%= link_to "Edit Pet", edit_pet_path(@pet), class: "btn btn-outline-primary mt-3" %>
  <% end %>
</div>
