<div class="navbar-pets">
  <div class="navbar-left">
    <div class="logo-container-shadow"></div>

    <div class="logo-container">
      <%= link_to root_path, class: "navbar-logo" do %>
        <%= image_tag 'pawfect_match_logo.png' %>
      <% end %>
    </div>

  </div>
  <div class="navbar-right">
    <% if user_signed_in? %>
      <%= link_to "ALL PETS", pets_path %>
      <%= link_to "MY MATCHES", bookings_path %>
      <%= link_to "REGISTER A PET", new_pet_path, class: "btn btn-sm btn-secondary text-white rounded-pill" %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %>
      <%= link_to user_path(current_user), class: "profile-link" do %>
        <%= image_tag 'profileicon.jpg', alt: 'Profile', class: 'profile-icon' %>
      <% end %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
  </div>
</div>


<%# <i class="fa-light fa-paw" style="color: #050505;"></i> %>
<%# <%=# link_to "My Profile", user_path(current_user) %>
