<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="<%= asset_path('pawfect_match_logo-removebg-preview (1).png') %>">
    <title>PawfectMatch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <div class="wrapper">
    <div class="content">
    <%= render 'shared/navbar' %>
    <div id="flash-messages" class="flash-box">
  <% if notice.present? %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>
  <% if alert.present? %>
    <div class="alert alert-danger">
      <%= alert %>
    </div>
  <% end %>
</div>
    <%= yield %>
    </div>
  <%= render 'shared/footer' %>
   </div>
  </body>
</html>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const flashMessages = document.getElementById("flash-messages");
  if (flashMessages) {
    setTimeout(() => {
      flashMessages.style.display = "none";
    }, 5000); // Adjust time (in milliseconds) as needed
  }
});
</script>
